<div class="test">
<h2 class="h2">Best Winter Trips</h2>

<div class="container">
        <div class="allof firstd">
            <p>250€ / person / 5 nights</p>
            <h6>Jahorina, Bosnia</h6>
            <img src="assets/jahorina.jpg" alt="">
        </div>
        <div class="allof secondd">
            <p>250€ / person / 5 nights</p>
            <h6>St. Moritz, Switzerland</h6>
            <img src="assets/jahorina.jpg" alt="">
        </div>
        <div class="allof thirdd">
            <p>250€ / person / 5 nights</p>
            <h6>Paradiski, France</h6>
            <img src="assets/jahorina.jpg" alt="">
        </div>
        <div class="allof fourthd">
            <p>250€ / person / 5 nights</p>
            <h6>Tirol, Austria</h6>
            <img src="assets/jahorina.jpg" alt="">
        </div>
        <div class="allof fifthd">
            <p>250€ / person / 5 nights</p>
            <h6>Meribel, France</h6>
            <img src="assets/jahorina.jpg" alt="">
        </div>
        <div class="allof sixthd">
            <p>250€ / person / 5 nights</p>
            <h6>Turoa, New Zealand</h6>
            <img src="assets/jahorina.jpg" alt="">
        </div>
</div>
</div>