<div class="container">
    <h3>About us</h3>
    <p>There’s a certain kind of magic about a winter holiday. The crunchy snow, the smell of baked cinnamon and mulled wine, the cosy nights by candlelight. Or maybe it's the moment when you look up and see the Northern Lights dancing above you, or hike past huge crystalised ice flows in the Rocky Mountains. Whether it's a delicious grilled sausage at a Christmas market in Munich, snowboarding down fresh powder in New Zealand, trekking across Morocco's snow-dusted Atlas Mountains or blissing out in a steamy Alaskan hot spring, winter travel has some pretty epic advantages. Plus, there are way fewer tourists, queues are tiny and your holiday selfies will feature just you and the view. We think a winter tour might be on the cards…</p>
</div>
